<!-- view: page4 -->
<div data-role="view" id="page4-view" data-title="Step 4 of 4" data-layout="main-layout" data-show="smartSurvey.viewDidAppear" data-model="smartSurvey.viewModel">
    <ul data-role="listview" data-style="inset" data-type="group">
        <li>Feedback
            <ul>
                <li>
                    <label>
                        Comments
                        <textarea style="resize: none;" data-bind="value: answers.d1" placeholder="We value your feedback"></textarea>
                        <label>
                </li>
            </ul>
        </li>
        <li>Send my e-coupon to
            <ul>
                <li>
                    <label>
                        Email <input type="email" placeholder="your@email.com" data-bind="value: answers.d2" />
                    </label>
                </li>
            </ul>
        </li>
    </ul>
    <a id="next-4" data-click="smartSurvey.submitSurvey" data-role="button" style="display: block; margin: 1em 2em; text-align: center; background-color: green">Submit</a>
</div>