<!-- view: page1 -->
<div data-role="view" id="page1-view" data-title="Step 1 of 4" data-layout="main-layout" data-show="smartSurvey.viewDidAppear" data-model="smartSurvey.viewModel">
    <ul data-role="listview" data-style="inset" data-type="group">
        <li>About You
            <ul>
                <li>
                    <label>
                        Name <input id="nameInput" type="text" placeholder="Your Name" data-bind="value: answers.a0" />
                    </label>
                </li>
                <li>
                    <label>
                        Your Gender
                        <select data-value-field="id" data-text-field="name"
                                data-bind="value: answers.a1, source: options.gender">
                        </select>
                    </label>
                </li>
                <li>
                    <label>
                        Frequency of Visit
                        <select data-value-field="id" data-text-field="name"
                                data-bind="value: answers.a2, source: options.frequency">
                        </select>
                    </label>
                </li>
            </ul>
        </li>
    </ul>
    <a data-click="smartSurvey.goNext" data-role="button" style="display: block; margin: 1em 2em; text-align: center;">Next</a>
</div>