<!-- view: page2 -->
<div data-role="view" id="page2-view" data-title="Step 2 of 4" data-layout="main-layout" data-show="smartSurvey.viewDidAppear" data-model="smartSurvey.viewModel">
    <ul data-role="listview" data-style="inset" data-type="group">
        <li>Rate Our food
            <ul>
                <li>
                    <label>
                        Appetizers
                        <select data-value-field="id" data-text-field="name"
                                data-bind="value: answers.b1, source: options.goodness">
                        </select>
                    </label>
                </li>
                <li>
                    <label>
                        Mains
                        <select data-value-field="id" data-text-field="name"
                                data-bind="value: answers.b2, source: options.goodness">
                        </select>
                    </label>
                </li>
                <li>
                    <label>
                        Desserts
                        <select data-value-field="id" data-text-field="name"
                                data-bind="value: answers.b3, source: options.goodness">
                        </select>
                    </label>
                </li>
                <li>
                    <label>
                        Drinks
                        <select data-value-field="id" data-text-field="name"
                                data-bind="value: answers.b4, source: options.goodness">
                        </select>
                    </label>
                </li>
                <li>
                    <label>
                        Overall taste
                        <select data-value-field="id" data-text-field="name"
                                data-bind="value: answers.b5, source: options.goodness">
                        </select>
                    </label>
                </li>
                <li>
                    <label>
                        Overall value
                        <select data-value-field="id" data-text-field="name"
                                data-bind="value: answers.b6, source: options.goodness">
                        </select>
                    </label>
                </li>
            </ul>
        </li>
    </ul>
    <a data-click="smartSurvey.goNext" data-role="button" style="display: block; margin: 1em 2em; text-align: center;">Next</a>
</div>
