<!-- view: thank you -->

<div data-role="view" id="thankyou-view" data-title="Thank you" data-layout="main-layout" data-show="smartSurvey.viewDidAppear"  data-model="smartSurvey.viewModel">
    <h1>Thank you for your feedback.</h1>
    <p>If you have entered your email address for us to send your e-coupon, you will receive it within the next 5 minutes.</p>
    <p>We look forward to having you soon!</p>
    <a data-click="smartSurvey.resetSurvey" data-role="button" style="display: block; margin: 1em 2em; text-align: center;">Bye!</a>
</div>
